//Colores principales de la pagina//
$principal: #edb9b9;
$secundario: #ef3b8a;
$terciario: #f0e889;


///Otros colores usados////
$violet: #8190ed7d;

///////////////////IMPORTS/////////////////////////////

@import "./scss/main";
@import "./scss/mediasQuery";
@import "./scss/footer";
@import "./scss/header";