//Colores principales de la pagina//
$principal: #edb9b9;
$secundario: #ef3b8a;
$terciario: #f0e889;


///////////////////IMPORTS/////////////////////////////

@import "./scss/main";
@import "./scss/mediasQuery";