//Colores principales de la pagina//
$principal: #edb9b9;
$secundario: #ef3b8a;
$terciario: #f0e889;

///Otros colores usados////
$violet: #8190ed7d;

///RESET////
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Simonetta", cursive;
  color: white;
}

@import "./scss/footer";
@import "./scss/header";
@import "./scss/main";


