
//Colores principales de la pagina//
$principal: #EDB9B9;
$secundario: #EF3B8A;
$terciario: #F0E889;





////////////////////////////////////////////////

@import "footer";
@import "galerias";
@import "header";
@import "nav-principal";
@import "novedades";
@import "mediasQuery";
@import "nav-superior";




