////////SECCION NOSOTROS//////

@media (max-width: 768px) {
  .seccion__nosotros {
    margin: 0rem;
    
  }

  .seccion__nosotros--info1 {
    flex-direction: column;
    width: 100vh;
  }
  .seccion__nosotros--info1 img {
    width: 100vh;
  }
  .seccion__nosotros--info2 {
    flex-direction: column;
    width: 100vh;
  }
  .seccion__nosotros--info2 img {
    width: 100vh;
  }
  .seccion__nosotros--info3 p {
    flex-direction: row;
    width: 100vh;
  }
}

////////////NOVEDADES//////////////////////////


